POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mecanicar

DATABASE_HOST=postgres
DATABASE_PORT=5432

DATABASE_URL=postgresql://user:password@postgres:5432/mecanicar

IS_PRODUCTION=True
APP_ENV=prod

SECRET_KEY=qualosegredo
ALGORITHM=HS256

JWT_ISSUER=jwt-api
JWT_AUDIENCE=jwt-web