POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

DATABASE_HOST=host
DATABASE_PORT=9999

DATABASE_URL=postgresql://user:password@host:9999/db

IS_PRODUCTION=True/False
APP_ENV=prod/test/dev

SECRET_KEY=qualosegredo
ALGORITHM=HS256

JWT_ISSUER=jwt-api
JWT_AUDIENCE=jwt-web