POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mecanicar_test

DATABASE_HOST=postgres
DATABASE_PORT=5433

DATABASE_URL=postgresql://user:password@postgres:5433/mecanicar_test

IS_PRODUCTION=False
APP_ENV=test

SECRET_KEY=qualosegredo
ALGORITHM=HS256

JWT_ISSUER=jwt-api
JWT_AUDIENCE=jwt-web